html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

li {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
  
}

a {
  text-decoration: none;
  color: #666;
}

a:hover {
  text-decoration: underline;
}

#main {
  clear: both;
  margin-top: 200px;
  width: 100%;
  padding-bottom: 40px;
}

.top ul {
  float: right;
  margin-right: 30px;
}

.top li {
  display: inline-block;
  float: left;
  margin-bottom: 100px;
  padding: 8px;
  font-size: 0.8em;
}


#logo {
  display: block;
  margin: auto;
  margin-top: 175px;
  padding: 20px;
  width: 270px;
}

input {
  display: block;
  margin: auto;
  border: 1px solid #ddd;
  padding: 5px 5px 3px;
  margin-top: 10px;
  margin-bottom: 0;
}
 
input:hover {
  border: 1px solid #aaa;
}

input:focus {
  border: 1px solid dodgerblue;
}

.button-list {
  margin: 5px auto 0;
  text-align: center;
}

button {
  background-color: #f5f5f5;
  color: rgb(68, 68, 68);  
  display: inline-block;   
  cursor: default;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  margin: 16px 6px;
  padding: 0 8px;
  line-height: 29px;
  height: 29px;
  min-width: 54px;
  
}

.left {
  float: left;
}

.left li {
  float: left;
  padding: 10px;
  font-size: 0.8em;
  padding-top: 0;
}

.right {
  float: right;
  margin-right: 30px;
}

.right li {
  float: left;
  padding: 10px;
  font-size: 0.8em;
  padding-top: 0;
}

footer {
  box-sizing: content-box;
  width: 100%;
  height: 30px;
  position: absolute;
  line-height: 10px;
  padding-bottom: 10px;
  bottom: 0;
  background: #eee;
  border-top: 1px solid #ccc;
  min-width: 100%;
}
